.modal {
  &__list {
    padding: 0px;
    max-height: 300px;
    overflow-y: scroll;
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #252525;

    &:last-child {
      border: none;
    }
  }

  &__delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
